body {
    display: flex;
    justify-content: start;
    padding: 100px;
    gap: 10px;
    border: 0px solid black;
    flex-wrap: wrap;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: rgb(127, 187, 255);
    border: 1px solid black;
}

.green {
    width: 100px;
    height: 100px;
    background-color: rgb(127, 255, 204);
    border: 1px solid black;
}