<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>index page</title>
    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <div class="container mt-5 border">
        <div class="row mb-3">
            <div class="col text-center ">
                <form action="{% url 'books_authors_app:process' %}" method="post">
                    {% csrf_token %}
                    <h2>Add an Author</h2>
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label">First Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="author_first_name" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label">Last Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="author_last_name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label">Notes:</label>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <textarea class="form-control" name="notes" placeholder="Leave a Notes here"
                                    id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">Leave Notes here</label>
                            </div>
                        </div>
                    </div>
                    <button name="process" value="create_author" class="btn btn-primary mt-3 btn-lg">Add</button>
                </form>
            </div>
            <div class="col">
                <table class="table table-striped mt-5">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col" class="border-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for author in authors %}
                        <tr>
                            
                            <td>{{author.id}}</td>
                            <td>{{author.first_name}} {{author.last_name}}</td>
                            <td><a href="{% url 'books_authors_app:author_details' id=author.id %}" >Action</a></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>