<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit {{show.title}}</title>
    {% load static %}
    <!-- {% csrf_token %} -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body style="background-color: rgba(231, 233, 249, 0.707);">
    <div class="container mt-6" style="background-color: rgb(255, 255, 255);">
        <!-- Head Line Section -->
        <div class="row justify-content-center mt-4">
            <div class="col-sm-6 mt-3">
                <h1>Edit {{show.title}}</h1>
            </div>
        </div>
        <!-- Horizontal Line Section -->
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <hr class="border border-primary border-2 opacity-75">
            </div>
        </div>
        <!-- The Validation Error Massages Section -->
        {% if messages %}
        <div class="row justify-content-center">
            <div class="col-sm-6">
                {% for massage in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Warring ! :</strong> {{massage}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!--Form Section -->
        <form class=" mb-3" action="{% url 'TV_Show_app:show_update' id=show.id %}" method="post">
            {% csrf_token %}
            <div class="form-group row  justify-content-center">
                <!-- Title Section -->
                <div class="col-sm-6">
                    <label class="col-form-label ">Title</label>
                    <input name="title" class="form-control" type="text" placeholder="Enter Your Movie Title"
                        value="{{show.title}}">
                </div>
            </div>
            <!-- Network Section -->
            <div class="form-group row justify-content-center ">
                <div class="col-sm-3">
                    <label class="col-form-label ">Network</label>
                    <input name="network" class="form-control" type="text" placeholder="Enter The Network"
                        value="{{show.network}}">
                </div>
                <!-- Release Date Section -->
                <div class="col-sm-3">
                    <label class="col-form-label ">Release Date</label>
                    <input name="release_date" class="form-control" type="date" value="{{date}}">
                </div>
            </div>
            <!-- Description Section -->
            <div class="form-group row justify-content-center">
                <div class="col-sm-6">
                    <label class="col-form-label">Description</label>
                    <textarea class="form-control" name="desc" id="" rows="10"
                        style="resize: none;">{{show.desc}} </textarea>
                </div>
            </div>
            <!-- Buttons 'Update' / 'Go to Show' Section -->
            <div class="form-group row text-center justify-content-center mb-3">
                <div class="col-sm-6 mt-3">
                    <button type="submit" name="" class="btn btn-primary btn-lg">Update</button>
                </div>
            </div>
            <div class="form-group row text-center justify-content-center mb-3 ">
                <div class="col-sm-6 mb-3">
                    <a href="{% url 'TV_Show_app:show_page'%}" class="btn btn-primary ">Show Page</a>
                </div>
            </div>
        </form>
    </div>
    {% load static %}
<script src="{% static 'Js/bootstrap.bundle.js' %}"></script>
</body>

</html>