<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit {{show.title}}</title>
    {% load static %}
    <!-- {% csrf_token %} -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body style="background-color: rgba(231, 233, 249, 0.707);">
    <div class="container mt-6" style="background-color: rgb(255, 255, 255);">
        <!-- Head Line Section -->
        <div class="row justify-content-center mt-4">
            <div class="col-sm-6 mt-3">
                <h1>Edit {{show.title}}</h1>
            </div>
        </div>
        <!-- Horizontal Line Section -->
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <hr class="border border-primary border-2 opacity-75">
            </div>
        </div>
        <!--Form Section -->
        <form class=" mb-3" action="{% url 'TV_Show_app:show_update' id=show.id %}" method="post">
            {% csrf_token %}
            <div class="form-group row  justify-content-center">
                <!-- Title Section -->
                <div class="col-sm-6">
                    <label class="col-form-label ">Title</label>
                    <input name="edit_title" class="form-control" type="text" placeholder="Enter Your Movie Title" value="{{show.title}}">
                </div>
            </div>
            <!-- Network Section -->
            <div class="form-group row justify-content-center ">
                <div class="col-sm-3">
                    <label class="col-form-label ">Network</label>
                    <input  name="edit_network" class="form-control" type="text" placeholder="Enter The Network" value="{{show.network}}">
                </div>
                <!-- Release Date Section -->
                <div class="col-sm-3">
                    <label class="col-form-label ">Release Date : {{show.release_date}}</label>
                    <input  name="edit_release_date" class="form-control" type="date" value="{{show.release_date}}" >
                </div>
            </div>
            <!-- Description Section -->
            <div class="form-group row justify-content-center">
                <div class="col-sm-6">
                    <label class="col-form-label">Description</label>
                    <textarea class="form-control"  name="edit_desc" id="" rows="10" style="resize: none;">{{show.desc}} </textarea>
                </div>
            </div>
            <!-- Buttons 'Update' / 'Go to Show' Section -->
            <div class="form-group row text-center justify-content-center mb-3">
                <div class="col-sm-6 mt-3">
                    <button type="submit" name="" class="btn btn-primary btn-lg">Update</button>
                </div>
            </div>
            <div class="form-group row text-center justify-content-center mb-3 ">
                <div class="col-sm-6 mb-3">
                    <a href="{% url 'TV_Show_app:show_page'%}" class="btn btn-primary ">Go to Show Page</a>
                </div>
            </div>
        </form>
    </div>
</body>

</html>