<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>index page</title>
    {% load static %}
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body>
    <div class="container mt-5 border">
        <div class="row mb-3">
            <div class="col text-center ">
                <form action="{% url 'dojo_ninja_app:process' %}" method="post">
                    {% csrf_token %}
                    <h2>Add a Dojo</h2>
                    <div class="form-group row mt-3">
                        <label for="dojoName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="dojo_name" placeholder="Dojo Name">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="city" class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label for="state" class="col-sm-2 col-form-label">State</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="state" placeholder="State">
                        </div>
                    </div>
                    <button name="process" value="add_dojo" class="btn btn-primary mt-3 btn-lg">Add</button>
                </form>
            </div>
            <div class="col text-center">
                <form action="{% url 'dojo_ninja_app:process' %}" method="post">
                    {% csrf_token %}
                    <h2>Add a Ninja</h2>
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label">First Name:</label>
                        <div class="col-sm-6">
                            <input type="text" name="first_name" class="form-control" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label">Last Name:</label>
                        <div class="col-sm-6">
                            <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <label class="col-sm-2 col-form-label">Dojo</label>
                        <div class="col-sm-6">
                            <select class="form-select" name="choose_dojo" aria-label="Default select example">
                                <option selected>Chose a Dojo</option>
                                {% for dojo in dojos%}
                                <option value="{{dojo.id}}">{{dojo.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button name="process" value="add_ninja" class="btn btn-primary mt-3 btn-lg">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container ">
        <hr class="border border-primary border-2 opacity-50">
    </div>
    <div class="container d-flex flex-column align-items-center border">

        <h2>All The Dojos</h2>
        <ol class="list-group list-group-numbered row " style="width: 100%;">
            {% for dojo in dojos%}
            <li
                class="list-group-item   col-sm-6 align-self-center  d-flex justify-content-between align-items-center border">
                {{dojo.name}} ({{dojo.ninjas.all.count }})
                <form action="{% url 'dojo_ninja_app:process' %}" method="post">
                    {% csrf_token %}
                    <button name="process" value="delete_dojo" class="btn btn-danger btn-sm">X</button>
                    <input type="hidden" name="dojo_name_to_delete" value={{dojo.id}}>
                </form>
            </li>
            <ul class=" list-group d-flex flex-column align-items-center ">
                {% for ninja in dojo.ninjas.all %}
                <li class=" col-sm-6 align-self-center align-self-center">{{ninja.first_name}}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ol>

    </div>


</body>

</html>